.search-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.search-input__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-input__label {
  font-weight: 600;
}
