<label class="search-input">
  @if (label) {
    <span class="search-input__label">{{ label }}</span>
  }
  <div class="search-input__wrapper">
    <input
      #searchInput
      type="search"
      class="form-control form-control-sm"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput(searchInput.value)"
    />
    @if (value) {
      <button
        type="button"
        class="btn btn-link btn-sm"
        (click)="clear()"
      >
        ????????
      </button>
    }
  </div>
</label>
